* {
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  list-style-type: none;
  scroll-behavior: smooth;
}

body {
  background-color: #dad5ce;
}

/*_-_-_-_-_-_-_-_-_-_-_-_-_-_HEADER_-_-_-_-_-_-_-_-_-_-_-_-_-_*/

#divNav {
  display: flex;
  justify-content: center;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3a3a3a00;
  padding: 5px 50px 10px 50px;
  position: fixed;
  width: 98%;
  top: 10px;
  border-top: solid 1px white;
  z-index: 1000;
}

#logo {
  font-size: 30px;
  font-weight: bold;
  transition: transform 150ms, color 150ms;
}

#logo img {
  height: 55px;
  width: 55px;
  vertical-align: middle;
}

#logo:hover {
  transform: scale(1.01);
  color: #6d8764;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav ul li a {
  font-weight: bold;
  transition: color 150ms;
}

nav ul li a:hover {
  color: #6d8764;
}

nav ul li:nth-child(3) a {
  border-bottom: 3px solid;
  transition: border-bottom 150ms, border-radius 100ms;
  border-radius: 5px;
}

nav ul li:nth-child(3) a:hover {
  border-bottom: 0px solid;
  border-radius: 0px;
}

/*_-_-_-_-_-_-_-_-_-_-_-_-_-_-_MAIN_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/

main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

form {
  background-color: #fffaf5;
  border: 1px solid #c8b7a6;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 350px;
}

form h2 {
  margin: 20px 0;
  font-size: 1.8rem;
  color: #4e3620;
}

.campos,
#producto,
#producto option,
#plazo {
  font-family: "Quicksand", sans-serif;
  font-size: 0.9rem;
  border: solid 1px #4e3620;
  border-radius: 5px;
  background-color: #fff;
  color: #4e3620;
  padding: 0.5rem;
  padding-left: 10px;
  margin: 8px 0px;
  width: 85%;
  transition: transform 200ms, background-color 200ms;
}

.campos:focus {
  outline: none;
}

.campos:hover,
select:hover,
input[type="number"]:hover {
  transform: translateY(-1px);
  background-color: #6d876436;
}

.campoCorrecto {
  border: rgb(2, 187, 2) solid 1.5px;
}

.campoIncorrecto {
  border: red solid 1.5px;
}

.extra {
  margin: 8px 0px;
  accent-color: #6d8764;
  cursor: pointer;
}

#totalDiv {
  margin-top: 15px;
  text-align: center;
  background-color: #6d8764;
  border-radius: 5px;
  width: 85%;
  font-size: 16px;
  padding: 5px 10px;
}

#terminos {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  margin: 9px 0px 30px;
}

#terminos label {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

#condiciones {
  margin: 0;
  accent-color: #6d8764;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

#terminos span {
  color: black;
}

#terminos a {
  color: #6d8764;
  text-decoration: underline;
  transition: text-decoration 100ms, color 100ms;
}

#terminos label a:hover {
  text-decoration: underline;
  color: #556c4e;
}

button[type="submit"] {
  background-color: #6d8764;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  border: solid 1px #181a1da4;
  width: 85%;
  transition: transform 200ms, background-color 200ms, color 200ms;
}

button[type="submit"]:hover {
  transform: translateY(-2px);
  background-color: #6d8764;
  color: black;
}

#presupuestoForm label {
  color: #4e3620;
  width: 85%;
}

select,
input[type="number"] {
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: 1px solid #c8b7a6;
  border-radius: 8px;
  font-size: 0.9rem;
  background-color: #fff;
  color: #4e3620;
}

#plazo {
  color: black;
}

/*_-_-_-_-_-_-_-_-_-_-_-_-_-_FOOTER_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
footer {
  background-color: #1c1c1c;
  text-align: center;
  padding: 20px;
  color: red;
}

#redes {
  display: flex;
  justify-content: right;
  gap: 10px;
}

.redesIcon i {
  transition: color 100ms, scale 100ms;
}

.redesIcon i:hover {
  color: #6d8764;
  scale: 1.1;
}
/* Animaciones */
