<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Noir Coffee</title>
    <link rel="stylesheet" href="../css/galeria.css" >
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Lato:wght@400;700&display=swap"
      rel="stylesheet"
    >
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    >
    <link rel="favicon" href="../images/favicon.icon" type="image/x-icon" >
  </head>
  <body>
    <!--_-_-_-_-_-_-_-_-_-_-_-_-_HEADER_-_-_-_-_-_-_-_-_-_-_-_-_-->

    <header>
      <div id="divNav">
        <nav>
          <a href="../index.html">
            <div id="logo">
              <img src="../images/logo.jpg" width="64" height="64" alt="logo" >
              Noir Coffee
            </div>
          </a>
          <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="galeria.html">Galería</a></li>
            <li><a href="presupuesto.html">Presupuesto</a></li>
            <li><a href="contacto.html">Contacto</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <!--_-_-_-_-_-_-_-_-_-_-_-_-_MAIN_-_-_-_-_-_-_-_-_-_-_-_-_-->

      <div id="imgMax">
        <img
          id="imgOpened"
          src="../images/galeria/photo1.jpg"
          alt="foto1"
          width="2000"
          height="3000"
        >
        <span onclick="closeImg()">X</span>
      </div>

      <div id="container">
        <div class="column">
          <img
            src="../images/galeria/photo1.jpg"
            alt="foto1"
            width="2000"
            height="3000"
          >
          <img
            src="../images/galeria/photo2.jpg"
            alt="foto2"
            width="4032"
            height="3024"
          >
          <img
            src="../images/galeria/photo3.jpg"
            alt="foto3"
            width="3049"
            height="4603"
          >
          <img
            src="../images/galeria/photo4.jpg"
            alt="foto4"
            width="2008"
            height="3008"
          >
          <img
            src="../images/galeria/photo5.jpg"
            alt="foto5"
            width="1789"
            height="2305"
          >
          <img
            src="../images/galeria/photo6.jpg"
            alt="foto6"
            width="3000"
            height="2000"
          >
        </div>
        <div class="column">
          <img
            src="../images/galeria/photo7.jpg"
            alt="foto7"
            width="2000"
            height="1334"
          >
          <img
            src="../images/galeria/photo8.jpg"
            alt="foto8"
            width="2240"
            height="3360"
          >
          <img
            src="../images/galeria/photo9.jpg"
            alt="foto9"
            width="1872"
            height="2808"
          >
          <img
            src="../images/galeria/photo10.jpg"
            alt="foto10"
            width="2592"
            height="1728"
          >
          <img
            src="../images/galeria/photo11.jpg"
            alt="foto11"
            width="2000"
            height="3000"
          >
          <img
            src="../images/galeria/photo12.jpg"
            alt="foto12"
            width="2000"
            height="3000"
          >
        </div>
        <div class="column">
          <img
            src="../images/galeria/photo13.jpg"
            alt="foto13"
            width="2410"
            height="2000"
          >
          <img
            src="../images/galeria/photo14.jpg"
            alt="foto14"
            width="1836"
            height="2448"
          >
          <img
            src="../images/galeria/photo15.jpg"
            alt="foto14"
            width="1836"
            height="2448"
          >
          <img
            src="../images/galeria/photo16.jpg"
            alt="foto15"
            width="1416"
            height="2120"
          >
          <img
            src="../images/galeria/photo17.jpg"
            alt="foto16"
            width="3120"
            height="2080"
          >
          <img
            src="../images/galeria/photo18.jpg"
            alt="foto7"
            width="1512"
            height="2016"
          >
        </div>
      </div>
    </main>
    <!--_-_-_-_-_-_-_-_-_-_-_-_-_FOOTER_-_-_-_-_-_-_-_-_-_-_-_-_-->

    <footer>
      <p>&copy; 2025 Noir Coffee | Todos los derechos reservados</p>

      <ul id="redes">
        <li class="redesIcon">
          <a href="https://www.youtube.com/" target="_blank"
            ><i class="fab fa-youtube"></i
          ></a>
        </li>
        <li class="redesIcon">
          <a href="https://www.facebook.com/?locale=es_ES" target="_blank"
            ><i class="fab fa-facebook"></i
          ></a>
        </li>
        <li class="redesIcon">
          <a href="https://twitter.com/?lang=es" target="_blank"
            ><i class="fab fa-twitter"></i
          ></a>
        </li>
        <li class="redesIcon">
          <a href="https://www.instagram.com/" target="_blank"
            ><i class="fab fa-instagram"></i
          ></a>
        </li>
      </ul>
    </footer>

    <script src="../js/galeria.js"></script>
  </body>
</html>
