<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>articulo vacio</title>
    <link rel="stylesheet" href="../css/leerMas.css">
  </head>
  <body>
    <div id="padre">
      <div>
        <h1>El boton era decorativo</h1>
        <img
          src="../images/leerMas/leerMas1.png"
          alt="imagen de un flork"
          width="404"
          height="410"
        >
        <a href="../index.html">volver</a>
      </div>
    </div>
  </body>
</html>
